* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aqua;
}

ul {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  margin-right: 20px;
}

.form input[type="text"] {
  display: block;
  margin-bottom: 10px;
  width: 200px;
}

.form select {
  display: block;
  width: 200px;
  margin-bottom: 10px;
}

.form textarea {
  display: block;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  width: 80px;
}

p {
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

hr {
  margin-top: 10px;
}

h4 {
  text-align: center;
}
